name: CI

on: [push, pull_request]

jobs:
  build-ejb:
    name: Build EJB Module
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
      
      - name: Build and Test EJB Module
        run: mvn -B -f ejb-module/pom.xml clean package --no-transfer-progress


